body {
  /*padding: 10px;*/
}

body {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

#container {
  margin-top: 100px;
  width:500;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.card {
  float: left;
  border: solid 1px black;
  width: 125px;
  height: 172px;
  margin-right: 20px;
  border-radius: 5px;
}

.covered {
  
}

.hand {
  overflow: auto;
}